*.pyc
chain.txt
venv/
build/
dist/
blockshell/
blockshell.egg-info/
/.idea/blockshell.iml
/.idea/git_toolbox_prj.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
